.collapseAll {
    padding-right: 0px;
    width: 18px;
    height: 18px;
    background-image: url(images/collapse.png);
}

.expandAll {
    padding-right: 0px;
    width: 18px;
    height: 18px;
    background-image: url(images/expand.png);
}

#totalButton {
    background-image: url(images/totalButton.gif);
    background-repeat: repeat-y;
    margin-left: 25px;
    width: 60px;
}